.wrapper {
  background-image: url(/images/alsothis.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* At least 100% of the viewport height */
  display: flex;
  flex-direction: column;
}

.topSpace {
  background-color: rgba(128, 128, 128, 0.649);
  flex: 0 0 auto; /* Don't grow, don't shrink, auto basis */
}

#leftWelcome {
  flex: 40;
  margin-left: 18%;
  text-align: center;
  font-size: 250%;
  font-family: cursive;
}

.midSpace {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.166);
  flex: 1 1 auto; /* Allow it to grow and shrink */
  padding-top: 5%;
  padding-left: 0%;
}

.midSpace .midSpace2 {
  background-color: rgba(60, 60, 60, 0.966);
  width: 50%;
  margin-left: 25%;
}

.midSpace .midSpace2 .infos {
  color: beige;
}

.infos {
  border-radius: 15px;
  padding: 20px;
  padding-left: 5%;
}
